/* global properties */

.app {
	padding: 0;
}

/* flex properties */

.flex-row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

/* background */

#canvas-container {
	z-index: 1;
	top: 0;
	left: 0;
	position: absolute;
}

/* wrapper around all content */

.content {
	text-align: center;
}

/* direct children of content */

.sidebar {
	order: 1;
	z-index: 3;
	width: 20vw;
	height: 100vh;
	background-color: #09d3ac;
}

.core {
	order: 0;
	width: 80vw;
	height: 100vh;
	background-color: #282c34;
}

/* direct children of sidebar */

.header-sidebar {
	width: 100%;
	height: 12vh;
	margin-top: 4vh;
	margin-bottom: 1vh;
}

.card {
	width: 100%;
	height: 80vh;
	margin-top: 1vh;
	margin-bottom: 6vh;
}

/* direct children of header-s */

.logo {
  height: 4vh;
	margin-left: 1vw;
	margin-right: 0.5vw;
}

.title {
	color: #282c34;
	font-size: 4vh;
	margin-left: 0.5vw;
	margin-right: 1vw;
}

/* direct children of card */

.data {
	height: 100%;
	margin-left: 2vw;
	margin-right: 2vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.15);
}

table {
  width: 100%;
	height: 100%;
	border-collapse: collapse;
}

th, td {
  padding: 8px;
	font-size: 2vh;
	text-align: center;
}

tr:first-child th {
	background-color: #282c34;
  color: #09d3ac;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
	color: #282c34;
}

tr:nth-child(odd) {
	background-color: #ffffff;
	color: #282c34;
}

tr:hover {
	background-color: #282c34;
	color: #09d3ac;
}

/* direct children of core */

.header-core {
	z-index: 3;
	width: 100%;
	height: 12vh;
	margin-top: 4vh;
	margin-bottom: 1vh;
}

.game-area {
	z-index: 2;
	width: 100%;
	height: 80vh;
	margin-top: 1vh;
	margin-bottom: 6vh;
}

/* direct children of header-c */

.text {
	color: #09d3ac;
	font-size: 4vh;
	margin-left: 1vw;
	margin-right: 1vw;
	background:rgba(40,44,52,0.75);
}

/* direct children of game-area */

.game-container {
	width: 100%;
	height: 100%;
}

.button {
	z-index: 4;
  width: 15vw;
	margin: 3vh;
	padding: 1.5vh;
	font-size: 3vh;
	text-align: center;
	vertical-align: middle;
	background-color: #09d3ac;
	color: #282c34;
  cursor: pointer;
  border: none;
	border-radius: 6px;
	box-shadow: 0 0 8px 0 rgba(9, 211, 172, 0.2), 0 0 16px 0 rgba(9, 211, 172, 0.15);
}

.button span {
  padding-right: 0;
	position: relative;
  transition: padding-right 0.5s;
}

.button span:after {
  top: 0;
	right: -1.5vw;
	position: absolute;
	opacity: 0;
  content: '\00bb';
	transition: right 0.5s, opacity 0.5s;
}

.button:hover span {
  padding-right: 2vw;
}

.button:hover span:after {
  right: 0;
	opacity: 1;
}

/* actual game */

.play-area {
	z-index: 3;
  width: 50vh;
	height: 50vh;
	margin: auto;
  position: relative;
	border: 10px solid #069e80;
	background:rgba(40,44,52,0.50);
}

.snake-dot {
	z-index: 4;
  width: 2%;
  height: 2%;
  position: absolute;
	background-color: #09d3ac;
  border: 1px solid #046954;
}

.snake-food {
	z-index: 3;
  width: 2%;
  height: 2%;
  position: absolute;
	background: #d309ab;
  border: 1px solid #690454;
}

/* settings */

.settings-header {
	z-index: 3;
	width: 100%;
	height: 100%;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.settings-text{
	color: #09d3ac;
	font-size: 4vh;
	margin: 1vw;
}

/* credits */

.logo-qweb {
  height: 40vh;
	margin: auto;
}

/* gameover */

.gameover-header {
	z-index: 3;
	width: 100%;
	height: 12vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.gameover-text{
	color: #09d3ac;
	font-size: 4vh;
	margin: 1vw 1vw 0.5vw 1vw;
}

.gameover-score {
	color: #d309ab;
	font-size: 4vh;
	margin: 1vw 0.5vw 1vw 1vw;
}

/* input form */

.form {
  width: 15vw;
	margin: 0.5vh;
}

input[type=text], select {
  width: 10vw;
  margin: 1vh;
  padding: 0.5vh;
  border-radius: 6px;
  box-sizing: border-box;
	border: 1px solid #09d3ac;
}
